scipy
matplotlib
numpy
scikit-image

pydot

# Progress monitoring
tqdm
progress
parmap

# config loader
pyyaml

# Homology computation
# phat

# Deep learning frameworks
chainer
keras
tensorflow

# Julia
julia

# Data
opencv-python
